*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container
{
	max-width:1400px;
	margin:0px auto;
	
}
.card
{
	width:400px;
	height:500px;
	border:5px double Azure ;
	margin:30px;
	float:left;
	background: rgb(3,1,1);
    background: linear-gradient(0deg, rgba(3,1,1,1) 0%, rgba(219,172,128,1) 74%);
	border-radius:0px 0px 85px 85px;
	color:lavenderblush;
}
.image
{
	overflow:hidden;
	
}
.card img
{
	width:100%;
	height:50%;
}
.card:hover img
{
	transition:5s;
	transform:rotate(360deg);
	
}
h1
{
	text-align:center;
	text-decoration:underline;
	color:darkSeaGreen ;
}
p
{
	margin:10px;
	text-align:justify;
	text-indent:40px;
}
.card:nth-child(2)
{
	overflow:hidden;
	border-radius:0px 00px 205px 205px;
}

.card:nth-child(2):hover img
{
	transition:5s;
	transform:rotatex(360deg);
}

.card:nth-child(3):hover img
{
	transition:5s;
	transform:rotatey(360deg);
}

.card:nth-child(4)
{
	
	border-radius:0px 0px 205px 205px;
}
.card:nth-child(4):hover img
{
	transition:5s;
	transform:scalex(0.4);
}
.card:nth-child(5):hover img
{
	transition:5s;
	transform:scale(0.5);
}
.card:nth-child(6):hover img
{
	transition:5s;
	transform:scaley(0.5);
}
.card:nth-child(6)
{
	
	border-radius:0px 0px 205px 205px;
}
.card:nth-child(7):hover img
{
	transition:5s;
	transform:skewx(360deg);
}
.card:nth-child(8):hover img
{
	transition:5s;
	transform:skewy(360deg);
}
.card:nth-child(9):hover img
{
	transition:5s;
	transform:skew(360deg);
}
.card:nth-child(10):hover img
{
	transition:5s;
	transform:translatex(50%);
}
.card:nth-last-child(2):hover img
{
	transition:5s;
	transform:translate(70%);
}
.card:last-child:hover img
{
	transition:5s;
	transform:translatey(70%);
}
